* {
    box-sizing: border-box;
  }
  
  :root {
    --primary: white;
    --secondary: white;
    --tertiary: rgb(192, 246, 253);
    --grey: #333;
    font-size: 90%;
  }

  body {
    background: white;
    color: var(--white);
    margin: 10px;
    padding: 10px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Arial, Geneva, Tahoma, sans-serif;
  }

  header {
    display: flex;
    justify-content: space-between;
    background: var(--secondary);
    padding: 10px 10px;
    border-bottom: 0px solid var(--primary);
    text-decoration-color: pink;
    align-items: center;
    margin-left: auto;
  }

  .high {
    color: rgb(163, 50, 238);
  }

  .text-center {
    text-align: right;
  }
  
  .startQuiz2 {
    font-size: 1.3rem;
    width: 600px;
    margin: auto;
    text-align: center;
  }

  .startBtn2 {
    outline: none;
    border: none;
    color: #FFF;
    width: 120px;
    margin: 4px 2px;
    display: inline-block;
    text-align: center;
    padding: 8px 10px;
    background: rgb(43, 3, 74);
    font-size: 1rem;
    border-radius: 12px;
    position: relative;
    top: -3px;
    box-shadow: 0 0px var(--grey);
  }

  .main {
    font-size: 1.3rem;
    width: 600px;
    margin: auto;
  }

  .answers {
    width: 600px;
    margin: auto;
  }

  .result {
    width: 600px;
    margin: auto;
    font-style: italic;
    color: grey;
    font-size: 2em;
    border-top: solid 1px gray;
  }

  .result2 {
    width: 600px;
    margin: auto;
    font-style: italic;
    color: grey;
    font-size: 1.5em;
    border-top: solid 1px gray;
  }

  .btn {
    outline: none;
    border: none;
    color: #FFF;
    width: 200px;
    margin: 4px 2px;
    display: inline-block;
    text-align: left;
    padding: 8px 10px;
    background: rgb(43, 3, 74);
    font-size: 1rem;
    border-radius: 12px;
    position: relative;
    top: -3px;
    box-shadow: 0 0px var(--grey);
  }

  .btn:hover {
    background: rgb(244, 10, 228);
    color: #fff;
  }

.options {
padding: 50px;
}

.quizOverview2 {
  font-size: 1.3rem;
  width: 600px;
  margin: auto;
  text-align: left;
}

.submit2 {
  outline: none;
  border: none;
  color: #FFF;
  width: 120px;
  margin: 4px 2px;
  display: inline-block;
  text-align: center;
  padding: 8px 10px;
  background: rgb(43, 3, 74);
  font-size: 1rem;
  border-radius: 12px;
  position: relative;
  top: -3px;
  box-shadow: 0 0px var(--grey);
}